.general{
	padding: 50px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	word-spacing: 10px;
}
.circuit{
	background-color: orangered;
	border-radius: 10px;
	height: 30vh;
	width: 30%;
}
.interupteur-nord{
	background-color: black;
	border-radius: 50px 50px 50px 50px;
	width: 14%;
	height: 8vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: -24px;
}
.interupteur-nord-est{
	background-color: black;
	margin-left: 10px;
	border-radius: 50px 50px 50px 50px;
	margin-top: -24px;
	width: 14%;
	height: 8vh;
}
.interupteur-nord-ouest{
	background-color: black;
	float: right;
	border-radius: 50px 50px 50px 50px;
	margin-right: 10px;
	margin-top: -24px;
	width: 14%;
	height: 8vh;
}
.interupteur-sud{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 168px;
	border-radius: 50px 50px 50px 50px;
	width: 14%;
	height: 8vh;
}
.interupteur-sud-est{
	background-color: black;
	margin-top: 168px;
	margin-left: 10px;
	border-radius: 50px 50px 50px 50px;
	width: 14%;
	height: 8vh;
}
.interupteur-sud-ouest{
	background-color: black;
	float: right;
	margin-right: 10px;
	margin-top: 168px;
	border-radius: 50px 50px 50px 50px;
	width: 14%;
	height: 8vh;
}
