

/* salut c est mouhamed*/
body{
    padding: 0;
    margin: 0;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 1170px;
    margin: 0 auto;

}
.slide-1{

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;;
}
.nav-bar-logo{
;
}
.logo{
    height: 71;
}
.navbar-collapse{

}

.navbar-nav{
    list-style: none;
}
.nav-item{
    display: inline-block;
    font-size: 18px;
    line-height: 88px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
}
.nav-link{
    text-decoration: none;
}

.slide-1{
    position: relative;
    height: 37rem;
}

.slide-content{
    overflow: hidden;;
    position: absolute;
    height: 37rem;
    width: 100%;
    top: 0px;
    left: 0px;
    transition:all 2s;

}
.slide-content::-webkit-scrollbar {
    display: none;

}
.slide1-item{
    width:100%;
    height: 37rem;

    background-color: grey;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 1;
    transition: all 2s ease;

}
.slide1-item-selected{
    z-index: 3;
}
.slide-btn{
    position:absolute;
    display: none;
}

/*
|--------------------------
| Transition
|--------------------------
*/
@keyframes transitionTopAnime {
    from{
        top:200%;
    }
    to{
        top:-100%;
    }
}
.transition-top{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    transition:height 2s ease-in-out;
    z-index: 999;
}