
@font-face {
    font-family: "Open Sans";
    src: url("open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "robotod";
    src: url("roboto/Roboto-Thin.ttf") format("truetype");
}
/* salut c est mouhamed*/
body{
    padding: 0;
    margin: 0;
    font-family: 'robotod';
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 1170px;
    margin: 0 auto;

}
.slide-1{

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;;
}
.nav-bar-logo{

}

.logo{
    height: 71px;
}

.navbar-collapse{
;
}

.navbar-nav{
    list-style: none;
}
.nav-item{
    display: inline-block;
    font-size: 18px;
    line-height: 88px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: white;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.navbar-toggler{
    display: none;
}




/*
|--------------------------
| Transition
|--------------------------
*/


.btn-primary{
    background: orange;
    color: dimgray;
    font-size: 2.0em;
    padding: 10px 20px;
    border-radius: 45px;
}
.text{
    font-size: 32px;
    font-weight: 100;
    font-family: robotod;


}

.btext{
    font-size: 65px;
    font-family: robotod;

}