.slide-1{
    position: relative;
    height: 37rem;
}

.slide-content{
    overflow: hidden;;
    position: absolute;
    height: 37rem;
    width: 100%;
    top: 0px;
    left: 0px;
    transition:all 2s;

}
.slide-content::-webkit-scrollbar {
    display: none;

}
.slide1-item{
    width:100%;
    height: 37rem;
    background-color: grey;
    background-size: auto;
    background-position: 0px 0px;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    color :white;
    flex-wrap: wrap;
    align-items: center;
}

.slide1-item-selected{
    z-index: 5;
}
.slide-btn{
    position:absolute;
    display: none;

}


.transition-none{
    transition: none;
}

/*transitionTop general*/
.transitionTop-composant{
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.transition{
    transition: all 1s ease-in;
}

.content-composant{
    overflow: hidden;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
}




/*-----------------------------------------------------------------------------------------------------
|                   TRANSITION TOP
[-------------------------------------------------------------------------------------------------------
*/
/*PRE*/
.transitionTop-element{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    z-index: 4;
    background-image: linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-size: auto;
    background-position: 0px -125px;
}
.transitionTop-slider2-pre
{
    height: 0px;
    transition: none;
    z-index: 5;
    background-position: 0px -65px;
}
.transitionTop-slider1-pre{
    z-index: 1;
    transition: all 6s ease-in;

}

/*Transition top etap1*/
.transitionTop-element-etape1{
    height: 100%;
    background-position: 0px 0px;

}
.transitionTop-slider1-etape1{
    background-position: 0px 250px;
}
.transitionTop-slider2-etape1{
    z-index: 5;
    transition:all 6s ease-out;

}

/*transiton etap 2*/
.transitionTop-element-etape2{

}
.transitionTop-slider1-etape2{

}
.transitionTop-slider2-etape2{
    height: 100%;
    background-position: 0px 0px;
}



/*-----------------------------------------------------------------------------------------------------
|                   TRANSITION BOTTOM
[-------------------------------------------------------------------------------------------------------
*/
/*PRE*/
.transitionBottom-element{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-size: auto;
    background-position: 0px 25px;
}
.transitionBottom-slider2-pre
{
    height: 100%;
    top:0px;
    transition: none;
    z-index: 3;
    background-position: 0px 50px;
}
.transitionBottom-slider1-pre{
    z-index: 5;
    transition: all 6s ease-in;

}

/*Transition bottom etap1*/
.transitionBottom-element-etape1{
    height: 100%;
    background-position: 0px -25px;

}
.transitionBottom-slider1-etape1{
    height: 0px;
    background-position: 0px -250px;
}
.transitionBottom-slider2-etape1{
    transition:all 6s ease-out;

}

/*transiton etap 2*/
.transitionBottom-element-etape2{
    height: 0px;

}
.transitionBottom-slider1-etape2{
    z-index: 2;
}
.transitionBottom-slider2-etape2{
    background-position: 0px 0px;
}

/*-----------------------------------------------------------------------------------------------------
|                   TXTX : ANIMAITE
[-------------------------------------------------------------------------------------------------------
*/
.txtx-from-top{
    transition: all 1.5s ease-out;
    text-align: center;
    position: relative;
    bottom: 100%;
    color: white;
    margin-bottom: 20px;

}
.rxrx-from-top{
    bottom: 0px;
    left: 0px;


}
.sxsx-from-top{
    transition: all 0.5s ease-out;
    opacity: 0;
}

.txtx-from-bottom{
    transition: all 1.5s ease-out;
    text-align: center;
    position: relative;
    top: 100%;
    color: white;
    margin-bottom: 20px;

}
.rxrx-from-bottom{
    top: 0px;
    left: 0px;


}
.sxsx-from-bottom{
    transition: all .5s ease-out;
    opacity: 0;
}
/*-----------------------------------------------------------------------------------------------------
|                   delay
[-------------------------------------------------------------------------------------------------------
*/
.txtx-delay-100{
    transition-delay: 0.5s;
}

.txtx-delay-200{
    transition-delay: 1.0s;
}

.txtx-delay-300{
    transition-delay: 1.5s;
}

.sxsx-delay-100{
    transition-delay: 0.2s;
}

.sxsx-delay-200{
    transition-delay: 0.4s;
}

.sxsx-delay-300{
    transition-delay: 0.6s;
}

/*-----------------------------------------------------------------------------------------------------
|                   GLASS
[-------------------------------------------------------------------------------------------------------
*/
.glass{
    position: absolute;;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
}