<html>
<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="../public/css/ahmad.css">
    <link rel="stylesheet" href="../public/css/makhtar.css">
    <link rel="stylesheet" href="../public/css/ibra.css">

    <link rel="stylesheet" href="../public/css/slider.css">

    <link rel="stylesheet" href="../public/css/mouhamed.css">
</head>
<body>

<div class="header">
    <!-- Navbar           -->
    <nav class="navbar">
        <a class="nav-bar-logo">
            <img class="logo" src="../public/images/log.png" alt="">
        </a>
        <button class="navbar-toggler">

        </button>
        <div class="navbar-collapse">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Présentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Métier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Réalisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacter-Nous</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="slide-1" id="slide_1">
    <div class="slide-content" id="slide-content">

        <div class="slide1-item slide1-item-selected" style=" background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                                                 url('../public/images/2_1.png');">
            <input type="hidden" value="transitionBottom" class="name-transition">
            <div class="slider-item-content content-composant" style="display: none;">
                <div class="txtx-from-top  text" style="margin-top:100px;">Bonjour</div>
                <br>
                <div class="txtx-from-bottom btext">Big A test et test big big</div>
                <br>
                <button class="txtx-from-bottom btn-primary txtx-delay-100"> TestButton</button>
            </div>

        </div>
        <div class="slide1-item" style="background-image:linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                                                                  url('../public/images/p1.jpg');">
            <input type="hidden" value="transitionTop" class="name-transition">
            <div class="slider-item-content content-composant" style="display: none;">
                <div class="txtx-from-top  text" style="margin-top:100px;">Bonjour</div>
                <br>
                <div class="txtx-from-top txtx-delay-100 btext">Big test et test big big</div>
                <br>
                <button class="txtx-from-top btn-primary txtx-delay-200"> TestButton</button>
            </div>

        </div>
        <div class=" composant-selected" id="composant1">

        </div>
        <div class="content-composant composant-no-selected" id="composant2">

        </div>
    </div>

    <button class="slide-btn slide-btn-left"></button>
    <button class="slide-btn slide-btn-right"></button>

</div>
<button onclick="slider.play();"> test</button>
<script src="../public/js/transition.js"></script>
<script>


    function Slider2(idElement) {
        this.idElement = idElement;
        this.transitions = TransitionFactory();
        this.element = function () {
            if (document.querySelector("#" + idElement)) {
                return document.querySelector("#" + idElement);
            } else {
                console.error("l id du slider n'existe pas");
            }
        }
        this.content = function () {
            if (document.querySelector("#slide-content")) {
                return this.element().querySelector("#slide-content");
            } else {
                console.error("slide content n'est pas disponible dans l'element");
            }
        }
        this.sliders = function () {
            return this.element().querySelectorAll(".slide1-item");
        }
        this.courantSlide = function () {
            var courant = this.element().querySelector(".slide1-item-selected");
            if (!courant) {
                courant = this.nextSlide()[0];
                courant.classList.add("slide1-item-selected");
            }
            return courant;
        }
        this.nextSlide = function () {
            var slide_items = this.sliders();
            for (i = 0; i < slide_items.length; i++) {
                if (slide_items[i].classList.contains("slide1-item-selected")) {
                    var next = slide_items[i + 1];
                    if (i == slide_items.length - 1) {
                        next = slide_items[0];
                    }
                    return next;
                }
            }
            return null;
        }

        this.go = null;

        this.play = function () {
            this.go = setTimeout(function (slider) {
                var courant = slider.courantSlide();
                var next = slider.nextSlide();
                var content = slider.content();
                console.log("NEXT");
                var nameTransition = next.querySelector(".name-transition").value;

                if (nameTransition) {
                    var methode = slider.transitions[nameTransition];
                    var transition = methode(content, courant, next, 1.5);
                    transition.start();
                }


            }, 1000, this);
        }
        this.pause = function () {
            clearTimeout(this.go());
        }

    }


    window.addEventListener('load', function (e) {

        slider.play();
    });

    var slider = new Slider2('slide_1');
</script>

</body>
</html>