<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/ibra.css">
</head>
<body>
	<div class="general" ">
        <div class="circuit">
            <div class="interupteur-nord">
            <img src="" alt="" class="img-sm">
            </div>
        </div>
    <br>
        <div class="circuit">
            <div class="interupteur-nord-est">
            <img src="" alt="" class="img-sm">
            </div>
        </div>
    <br>
        <div class="circuit">
            <div class="interupteur-nord-ouest">
            <img src="" alt="" class="img-sm">
            </div>
        </div>
    <br>
        <div class="circuit">
            <div class="interupteur-sud">
            <img src="" alt="" class="img-sm">
            </div>
        </div>
    <br>
        <div class="circuit">
            <div class="interupteur-sud-est">
                <img src="" alt="" class="img-sm">
            </div>
        </div>
    <br>
        <div class="circuit">
            <div class="interupteur-sud-ouest">
                <img src="" alt="" class="img-sm">
            </div>
        </div>
    </div>
</body>
</html>