body{
	padding:50px;
}
.circuit{
	display: flex;
	flex-direction:row;
	height:200px;
	background-color: orangered;
	width: 400px;
	border-radius: 10px;
}
.interupteur-nord{
	height:50px;
	width: 50px;
	border-radius: 25px;
	background-color: black;
	margin-top:-25px;
	margin-left: auto;
	margin-right: auto;
}
.interupteur-nord-est{
	height:50px;
	width: 50px;
	border-radius: 25px;
    background-color: black;
	margin-top:-25px;
	margin-left:10px;
}
.interupteur-nord-ouest{
	height:50px;
	width: 50px;
	border-radius: 25px;
	background-color: black;
	margin-left: 300px;
	margin-top:-25px;
}
.interupteur-sud{
	height: 50px;
	border-radius: 25px;
	width: 50px;
	margin-top: 170px;
	margin-left:auto;
	margin-right: auto;
	background-color: black;
}
.interupteur-sud-est{
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background-color: black;
	margin-top: 170px;
	margin-left: 10px;
}
.interupteur-sud-ouest{
	width:50px;
	height: 50px;
	background-color: black;
	border-radius: 25px;
	margin-top: 170px;
	margin-left: 320px;
}