<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="ibra.css">
</head>
<body>
    <div class="general">
    <div class="circuit">
    	<div class="interupteur-nord">
    	   
    	</div>
    </div> <br>
    <div class="circuit">
    	<div class="interupteur-nord-est">
    	
    	</div> 
    </div><br>
    <div class="circuit">
    	<div class="interupteur-nord-ouest">
    		
    	</div> 
    </div><br>
    <div class="circuit">
    	<div class="interupteur-sud">
    		
    	</div>
    </div><br>
    <div class="circuit">
    	<div class="interupteur-sud-est">
    		
    	</div>
    </div><br>
    <div class="circuit">
    	<div class="interupteur-sud-ouest">
    		
    	</div>
    </div>   	
    </div>
</body>
</html>