<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="formes.css">
</head>gi
<body>
	<form>
        <div class="form-1">
          <label for="pseudo" class="label">Adresse Email:</label>
          <input type="email" class="rond" id="adresse" placeholder="name@example.com">
          <label for="pseudo" class="label">Choix de votre maison:</label>
          <input type="text" class="rond" id="maison" placeholder="Maison en 3D">
          <label for="pseudo" class="label">Choix de votre plan:</label>
          <input type="text" class="rond" id="plan" placeholder="Plan de Maison">
        </div>
        <div class="form-1">
          <label for="exemple de texte" class="label">Un texte pour ESEBATEC:</label>
          <textarea class="rond" id="texteese" rows="6"></textarea>
        </div>
    </form>
</body>
</html>